
<!-- third chart -->
<body>

    <div class="container">
        <div class="row">
          <div class="column-33">
            <h1 class="large-font" style="color: #58bdca;"><b>Bar Diagram</b></h1>
            <p><span style="font-size:22px ;color: #022449;">This chart tells the ratings of Doctors</span> </p>
          
          </div>
          <div class="column-66" > 
              <canvas #chart id="myChart" width="600" height="300"></canvas>
          </div>
        </div>
      </div>
    
    
</body>
