<div class="container-fluid bg-default">
  <div class="container-fluid pt-4">
    <!-- <h1 id="heading" class="mb-0 heading pt-4">PATIENT</h1>
    <h1 id="purple" class="mb-0 heading pt-4">DASHBOARD</h1> -->
   <div class="row">
    <div class="col-md-8">
      <h1 id="heading" class="mb-0 heading pt-4">PATIENT</h1>
    <h1 id="purple" class="mb-0 heading pt-4">DASHBOARD</h1>
    </div>

    <div class="col-md-4"  > 
      <button style="float: right;" id="button-1" class="btn btn-success"  (click)="openModel()">
        Insurance Details
      </button>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" class="large-font" style="color:#022449;"><b>Insurance Details</b>
            </h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <app-patient-insurance></app-patient-insurance>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" id="button" class="btn btn-success">
            Close
          </button>
        </div>
        </div>
      </div>
    </div>


   </div>
    
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img
              src="../../assets/img/agenda.png"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">Book Appointment</span>
              <small class="h4 font-weight-light text-muted"
                >Book appointment for a medical test.</small
              >
            </h5>
            <div class="mt-3">
              <button
                routerLink="/patient/bookappointment"
                id="button"
                class="btn btn-primary"
              >
                Book Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img
              src="../../assets/img/appointment.png"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"> View Appointment </span>
              <small class="h4 font-weight-light text-muted"
                >Check Appointment
              </small>
            </h5>
            <div class="mt-3">
              <button
                routerLink="/patient/viewappointmentstatus"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                Check
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img src="../../assets/img/deadline.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image">
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">Appoitment History</span>
              <small class="h4 font-weight-light text-muted">View Appointment History</small>
            </h5>
            <div class="mt-3">
              <button routerLink="/patient/viewappointmenthistory" type="submit" id="button" class="btn btn-primary">
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img
              src="../../assets/img//medical-report.png"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">View/Upload Records</span>
              <small class="h4 font-weight-light text-muted"
                >View and Upload your Records.</small
              >
            </h5>
            <div class="mt-3">
              <button
                routerLink="/patient/view-records"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                View/Upload
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img
              src="../../assets/img/deadline.png"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">View/Book Ambulance Nearby</span>
              <small class="h4 font-weight-light text-muted"
                >View/Book Ambulance Nearby</small
              >
            </h5>
            <div class="mt-3">
              <button
                routerLink="/patient/ambulances-near"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                View/Book
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img
              src="../../assets/img/deadline.png"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">View Hospitals/Specialist Nearby</span>
              <small class="h4 font-weight-light text-muted"
                >View Hospitals/Specialist Nearby</small
              >
            </h5>
            <div class="mt-3">
              <button
                routerLink="/patient/hospitals-nearby"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img
              src="../../assets/img/deadline.png"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">View Analytics</span>
              <small class="h4 font-weight-light text-muted"
                >View your expenditure, diet/exercise recommendations</small
              >
            </h5>
            <div class="mt-3">
              <button
                routerLink="/patient/patient-analytics"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a href="#!">
            <img
              src="../../assets/img/appointment.png"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image"
            />
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"> Scheduled Drugs </span>
              <small class="h4 font-weight-light text-muted"
                >You can schedule your drugs timing from here.
              </small>
            </h5>
            <div class="mt-3">
              <button
                routerLink="/patient/scheduleddrugs"
                type="submit"
                id="button"
                class="btn btn-primary"
              >
                Schedule
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

