<div class="container-fluid bg-default pb-4">
  <div class="container-fluid py-4">
    <h1 id="heading" class="mb-0 heading pt-4">HOSPITALS</h1>
    <h1 id="purple" class="mb-0 heading pt-4"> NEARBY</h1>
    <nav aria-label="breadcrumb" id="navBar">
      <ol class="breadcrumb bg-default">
        <li class="breadcrumb-item"><a routerLink="/patient/home"><i id="breadCrumb" class="fas fa-home fa-6"></i></a>
        </li>
        <li id="breadCrumb" class="breadcrumb-item active" aria-current="page">View hospitals</li>
      </ol>
    </nav>
  </div>
  <div class="card mx-2" id="manage_doctor_card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-4">
          <h3 class="mb-0"> All Hospitals Data</h3>
        </div>
        <div class="col-4">
          <!-- <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Type query" [(ngModel)]="search" aria-label="Search" />
          </div> -->
        </div>
        <div class="col-4">
          <select id="medicareServiceName" (change)="filterMedi($event)" class="form-control"
                placeholder="Select Medicare Service">
                <option value="clear">Clear</option>
                <option value="Neurology">Neurology</option>
                <option value="Cardiology">Cardiology</option>
                <option value="Dermatology">Dermatology</option>
                <option value="Dentist">Dentist</option>
                <option value="Pediatrician">Pediatrician</option>
        </select>
        </div>
      </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
      <table class="table table-flush align-items-center">
        <thead class="thead-light">
          <tr>
            <th> Hospital Name</th>
            <th> Address</th>
            <th>Department</th>
            <th>Contact Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of hospitals">
            <td class="table-user">
              <!-- <img *ngIf="app.doctor.gender=='Male'" src="../../assets/img/doctor.png"
                  class="avatar rounded-circle mr-3">
                <img *ngIf="app.doctor.gender=='Female'" src="../../assets/img/doctor-female.png"
                  class="avatar rounded-circle mr-3"> -->
              <b>{{app.name}} </b>
            </td>
            <td>
            {{app.address}}
            </td>
            <td>
              <span *ngFor="let dep of app.departments;let l=last;">{{dep}} <span *ngIf="!l"> , </span></span>
            </td>
            <td>
              {{app.contactNumber}}
            </td>
            <td>
              <button id="button" type="button" class="btn btn-primary" (click)="updateLocation(app.coordinates)">
                Location
              </button>
              <!-- <button type="button" routerLink="/patient/givefeedback" class="btn btn-link">Show Map</button> -->
            </td>
        </tbody>
      </table>
      <!-- Model for hospital Location -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ></h4>
      </div> -->
      <!-- <div class="modal-body">
        <div class="row">
          <div class="col-md-12 modal_body_content">
          </div>
        </div>
         <div class="row">
          <div class="col-md-12 modal_body_map">
            <div class="location-map" id="location-map">
              <div style="width: 700px; height: 400px; ;" id="map_canvas">
                <app-google-map></app-google-map>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div>
  </div>
</div> -->
    </div>
  </div>