#purple {
    color: #022449;
    display: inline;
    font-size: 150%;
    font-weight: bold;
    padding-top: 2rem;
  }
  
  #heading {
    display: inline;
    font-size: 150%;
    font-weight: bold;
    color: white;
    padding-top: 2rem;
  
  }
  #breadCrumb{

    color: white;
  }
  
  #navBar{
  background-color: #58BDCA;
  margin-top: 10px;
  }
  #button {
    background-color: #022449;
    border: 0;
  }
 
  